# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Smart Analytics/.ipynb_checkpoints/PanAnalysis Data Exploration-checkpoint.ipynb
Smart Analytics/.ipynb_checkpoints/Pandas Dataframe Playground-checkpoint.ipynb
Smart Analytics/pan_data.pkl
Smart Analytics/.ipynb_checkpoints/Outlook Connection Test-checkpoint.ipynb
Smart Analytics/Train NN Model Example.ipynb
Smart Analytics/pan_data_scaler.scl
